
.pass { -webkit-text-security: none; }
.pass { -webkit-text-security: circle; }
.pass { -webkit-text-security: square; }
.pass { -webkit-text-security: disc; /* Default */ }



.username { 
	margin: 20px;
	font-size: 1.1em;
	color: #FFF;
}

.username a {
	color: #FFF;
}
