@charset "utf-8";
/* CSS Document */

body {
	background-color: #eee;
}

table {
	background-color: #fff;
}

.drop-shadow {
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	   -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

h5 {
	font-size: 18px;
	padding: 3px 0 3px 8px; 
	text-transform: uppercase;
	text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}

.custom-gray-background {
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
		  margin: 0; padding: 5px;
}